@model HomeVM
@{
    ViewData["Title"] = "Index";
}
<!-- Page Header-->
<header class="masthead" style="background-image: url(@Url.Content("~/assets/img/" + Model.Slider.Image))">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Model.Slider.Title</h1>
                    <span class="subheading">@Model.Slider.Subtitle</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (Post post in Model.Posts)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a asp-controller="home" asp-action="detail" asp-route-id="@post.Id">
                        <h2 class="post-title">@post.Title</h2>
                        <h3 class="post-subtitle">@post.Subtitle</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on @post.Date.ToString("MMMM/dd/yyyy")
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
